            * {
                font-family: "DejaVu Sans Mono", monospace;
            }
            
            body {
                margin: 0;
            }
            
            #maintitle {
                background: rgb(217, 56, 43);
                color: rgb(255, 255, 255);
                width: 100%;
                text-align: center;
                padding: 5px;
                
            }
            
            #blurb {
                height: 153px;
                background: rgb(255, 255, 255);
                overflow: auto;
                text-align: center;
            }
            
            #quoteList {
                list-style-type: disc;
                text-align: left;
            }
            
            #cover {
                height:200px;
                float: right;
                margin-left:10px;
            }
            
            #timeline {
                margin-right: 0px;
                margin-left: 10px;
            }
            
        #mainList {
            margin-left:10px;
            margin-right:10px;
        }
